name: Build and deploy

on:
  push:
    branches: [ master ]

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get timestamp
        run: echo "TIMESTAMP=$(date +%s)" >> $GITHUB_ENV

      - name: Build Docker image
        run: >-
          docker build
          -t $IMAGE_NAME:$TIMESTAMP
          -t $IMAGE_NAME:latest
          .

      - name: Push image to GHCR
        run: |
          docker push $IMAGE_NAME:$TIMESTAMP
          docker push $IMAGE_NAME:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Trigger deployment
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.DEPLOY_BIO_TOKEN }}
          repository: kiria-f/host-setup
          event-type: Deploy a single role
          client-payload: >-
            {
              "role": "bio",
              "image_tag":"${{ env.TIMESTAMP }}"
            }
